/* page background */ body { background-color: #F1F1F1; font-size: 14px;}

/* heading fonts */
@import 'https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco';
h1 { font-size: 52px; font-family: "Sue Ellen Francisco";}
h2 { font-size: 42px; font-family: "Sue Ellen Francisco";}
h3 { font-size: 32px; font-family: "Sue Ellen Francisco";}


/* body font */p { font-family: "Helvetica", sans-serif; font-weight: 200; font-size: 14px; }
body { font-family: "Helvetica", sans-serif; font-weight: 200; font-size: 14px;}

/* table of contents */.book-summary{ background-color: #FEBB2A;}

/* search bar */
#book-search-input input, #book-search-input input:focus, #book-search-input input:hover { width: 100%; background: 0 0; border: 3px solid black; box-shadow: none; outline: 0; line-height: 22px; padding: 7px 7px; color: inherit;
}

/* side menu */
.book-summary {font-family:  color: black; font-size: 18px; font-weight: 300;}

.book-summary ul.summary li.active > a { color: white; background: 0 0; text-decoration: none;
}
