/* page background */ body { background-color: #F1F1F1;}

/* heading fonts */
@import url(https://fonts.googleapis.com/earlyaccess/notonastaliqurdudraft.css);
@import url(https://fonts.googleapis.com/earlyaccess/notonastaliqurdu.css);


h1 { font-size: 3em; font-family: "Noto Nastaliq Urdu","Noto Nastaliq Urdu Draft", Helvetica, serif;}
h2 { font-size: 2.5em; font-family: "Noto Nastaliq Urdu", "Noto Nastaliq Urdu Draft", Helvetica, serif;}
h3 { font-size: 2em; font-family: "Noto Nastaliq Urdu", "Noto Nastaliq Urdu Draft", Helvetica, serif;}


/* body font */
li { font-family: "Noto Nastaliq Urdu", "Noto Nastaliq Urdu Draft", Helvetica, serif;}
body { font-family: "Noto Nastaliq Urdu Draft", "Noto Nastaliq Urdu", Helvetica, serif; font-size: 14px; line-height: 18px;}
p { font-family: "Noto Nastaliq Urdu Draft", "Noto Nastaliq Urdu", Helvetica, serif; font-size: 14px; line-height: 18px;}



/* table of contents */.book-summary{ background-color: #FEBB2A;}

/* search bar */
#book-search-input input, #book-search-input input:focus, #book-search-input input:hover { width: 100%; background: 0 0; border: 3px solid black; box-shadow: none; outline: 0; line-height: 22px; padding: 7px 7px; color: inherit;
}

/* side menu */
.book-summary {font-family: "Noto Nastaliq Urdu", "Noto Nastaliq Urdu Draft", Helvetica, serif; color: black; font-size: 18px; font-decoration: strong;}

.book-summary ul.summary li.active > a { color: white; background: 0 0; text-decoration: none; text-align: right; font-weight: 300;}
