/* page background */ body { background-color: #F1F1F1; font-size: 16px;}

/* heading fonts */
@import 'http://fonts.googleapis.com/earlyaccess/notonastaliqurdudraft.css';
@import url(http://fonts.googleapis.com/earlyaccess/notonastaliqurdudraft.css);
@import url(http://fonts.googleapis.com/earlyaccess/notonastaliqurdu.css);


h1 { font-size: 3em; font-family: "Noto Nastaliq Urdu","Noto Nastaliq Urdu Draft", serif;}
h2 { font-size: 2.5em; font-family: "Noto Nastaliq Urdu", "Noto Nastaliq Urdu Draft", serif;}
h3 { font-size: 2em; font-family: "Noto Nastaliq Urdu", "Noto Nastaliq Urdu Draft", serif;}


/* body font */
p { font-family: "Noto Nastaliq Urdu", "Noto Nastaliq Urdu Draft", serif;}
body { font-family: "Noto Nastaliq Urdu Draft", "Noto Nastaliq Urdu", serif; }


/* table of contents */.book-summary{ background-color: #FEBB2A;}

/* search bar */
#book-search-input input, #book-search-input input:focus, #book-search-input input:hover { width: 100%; background: 0 0; border: 3px solid black; box-shadow: none; outline: 0; line-height: 22px; padding: 7px 7px; color: inherit;
}

/* side menu */
.book-summary {font-family: "Noto Nastaliq Urdu", "Noto Nastaliq Urdu Draft", serif; color: black; font-size: 18px;}

.book-summary ul.summary li.active > a { color: white; background: 0 0; text-decoration: none; text-align: right;
}
