/* page background */ body { background-color: #F1F1F1; font-size: 16px;}

/* heading fonts */
@font-face {
  font-family: 'Noto Nastaliq Urdu Draft';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notonastaliqurdudraft/v4/NotoNastaliqUrduDraft.eot);
  src: url(//fonts.gstatic.com/ea/notonastaliqurdudraft/v4/NotoNastaliqUrduDraft.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notonastaliqurdudraft/v4/NotoNastaliqUrduDraft.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notonastaliqurdudraft/v4/NotoNastaliqUrduDraft.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notonastaliqurdudraft/v4/NotoNastaliqUrduDraft.ttf) format('truetype');
}


h1 { font-size: 3em; font-family: "Noto Nastaliq Urdu","Noto Nastaliq Urdu Draft", Courier, serif;}
h2 { font-size: 2.5em; font-family: "Noto Nastaliq Urdu", "Noto Nastaliq Urdu Draft", Courier, serif;}
h3 { font-size: 2em; font-family: "Noto Nastaliq Urdu", "Noto Nastaliq Urdu Draft", Courier, serif;}


/* body font */
li { font-family: "Noto Nastaliq Urdu", "Noto Nastaliq Urdu Draft", Courier, serif;}
body { font-family: "Noto Nastaliq Urdu Draft", "Noto Nastaliq Urdu", Courier, serif; font-size: 1.2em; line-height: 2.5em;}
p { font-family: "Noto Nastaliq Urdu Draft", "Noto Nastaliq Urdu", Courier, serif; font-size: 1.2em; line-height: 2.5em;}



/* table of contents */.book-summary{ background-color: #FEBB2A;}

/* search bar */
#book-search-input input, #book-search-input input:focus, #book-search-input input:hover { width: 100%; background: 0 0; border: 3px solid black; box-shadow: none; outline: 0; line-height: 22px; padding: 7px 7px; color: inherit;
}

/* side menu */
.book-summary {font-family: "Noto Nastaliq Urdu", "Noto Nastaliq Urdu Draft", Courier, serif; color: black; font-size: 18px; font-decoration: strong;}

.book-summary ul.summary li.active > a { color: white; background: 0 0; text-decoration: none; text-align: right; font-weight: 800;}
