/* page background */ body { background-color: #F1F1F1; font-size: 16px;}

/* heading fonts */
@import 'https://fonts.googleapis.com/css?family=Rubik';
@import 'https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco';

/* table of contents */.book-summary{ background-color: #FEBB2A;}

/* search bar */
#book-search-input input, #book-search-input input:focus, #book-search-input input:hover { width: 100%; background: 0 0; border: 3px solid black; box-shadow: none; outline: 0; line-height: 22px; padding: 7px 7px; color: inherit;
}

/* side menu */
.book-summary {font-family:  color: black; font-size: 18px; font-weight: 900;}

.book-summary ul.summary li.active > a { color: white; background: 0 0; text-decoration: none;
}
